PORT=5000
JWT_SECRET=troque_essa_chave_super_secreta
DB_PATH=./db/database.db
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:3000
NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587
NODEMAILER_USER=seu_email@dominio.com
NODEMAILER_PASS=sua_senha_app
ADMIN_EMAIL=admin@alpha.com
RESET_FRONTEND_URL=http://localhost:5173
REACT_APP_API_URL=http://localhost:5000
